Repository plone/plone.app.layout, pull requests merged in 2018-04, with the labels that each got.

#140 py3 fixes
  CHANGES.rst
  plone/app/layout/globals/context.py
  plone/app/layout/globals/interface.py
  plone/app/layout/globals/portal.py
  plone/app/layout/globals/tools.py
  plone/app/layout/navigation/navtree.py
  plone/app/layout/viewlets/__init__.py
Labels: 04 type: enhancement, 22 status: in-progress

#143 fix cachekey generation in py3
  plone/app/layout/links/viewlets.py
Labels: 23 status: testing

#127 Introduce IBodyClassAdapter
  CHANGES.rst
  plone/app/layout/globals/interfaces.py
  plone/app/layout/globals/layout.py
Labels: 04 type: enhancement, 22 status: in-progress

#150 Do not use 'rel="tag"' attribute on the keywords viewlet
  CHANGES.rst
  plone/app/layout/viewlets/keywords.pt
Labels: 24 status: ready, 32 needs: review, 99 tag: Plone 5.x

#149 Do not use 'rel="tag"' attribute on the keywords viewlet
  CHANGES.rst
  plone/app/layout/viewlets/keywords.pt
Labels: 24 status: ready, 32 needs: review, 99 tag: Plone 5.x

#148 Do not use 'rel="tag"' attribute on the keywords viewlet
  CHANGES.rst
  plone/app/layout/viewlets/keywords.pt
Labels: 24 status: ready, 32 needs: review, 99 tag: Plone 4.3.x
